# Database
POSTGRES_PASSWORD=change_your_password_here
POSTGRES_USER=postgres
POSTGRES_DB=learn-lang
POSTGRES_HOST_PORT=5432
POSTGRES_TIMEZONE=UTC
POSTGRES_DATA_PATH=./data/postgres

# Redis
REDIS_HOST_PORT=6379
REDIS_DATA_PATH=./data/redis

# API
API_HOST_PORT=8080
API_PUBLIC_BASE_URL=
API_UPLOADS_PATH=./data/uploads
API_TMP_PATH=./data/tmp

# Frontend (dev via Vite, prod via Nginx)
APP_DEV_HOST_PORT=5173
APP_HOST_PORT=5173

# Optional router base path
APP_BASENAME=
WEB_BASENAME=
